
.ipynb_checkpoints/example-checkpoint.ipynb
.ipynb_checkpoints/NairAbrahamMorphology-checkpoint.cat
.ipynb_checkpoints/query_test-checkpoint.ipynb
.ipynb_checkpoints/SDSSdownload-checkpoint.py
NairAbrahamMorphology.cat
query_test.ipynb
test/.ipynb_checkpoints/1237651067352973437-checkpoint.png
test/.ipynb_checkpoints/1237651067886764056-checkpoint.png
test/.ipynb_checkpoints/1237651067890499800-checkpoint.png
/test
/test2
/test3
/test1
